@charset "UTF-8";

body{
    margin:0;
    padding:0;
    font-family:"メイリオ","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
    position:relative;
    font-size: 12px;
    letter-spacing:0;
    line-height:1.7;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
}
body,html{height:100%}
.ie7 body{font-size:75%}

p{
    font-family:"メイリオ","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
    position:relative;
    font-size: 20px;
    background-color:#FFAAAA;
}

.content{
    width: 960px;
    overflow: hidden;
    
}

.title_bar{
    font-weight: normal;
    padding: 10px 0;
//    text-align:center;
    
}

.result_lists{

}

.result_text{
    
}


